* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #000;
}

@font-face {
  font-family: 'icomoon';
  src: url('../src/assets/fonts/icomoon.eot?ngli9o');
  src: url('../src/assets/fonts/icomoon.eot?ngli9o#iefix')
      format('embedded-opentype'),
    url('../src/assets/fonts/icomoon.ttf?ngli9o') format('truetype'),
    url('../src/assets/fonts/icomoon.woff?ngli9o') format('woff'),
    url('../src/assets/fonts/icomoon.svg?ngli9o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-glassLogo:before {
  content: '\e900';
  color: #dae0f6;
}
.icon-alert:before {
  content: '\e901';
  color: #727bc0;
}
.icon-gauge:before {
  content: '\e902';
  color: #727bc0;
}
.icon-graph:before {
  content: '\e903';
  color: #727bc0;
}
.icon-logo:before {
  content: '\e904';
  color: #727bc0;
}
.icon-settings:before {
  content: '\e905';
  color: #727bc0;
}
.icon-time:before {
  content: '\e906';
  color: #727bc0;
}
